Output
typescriptapp/node_modules
typescriptapp/out
typescriptapp/.vscode
typescriptapp/appSettings.json
dotnetapp/ListSitesWithWebPart/bin
dotnetapp/ListSitesWithWebPart/obj
dotnetapp/ListSitesWithWebPart/.vscode
typescriptapp/*.csv